
<% content_for :header do %>
  <script type="text/javascript">
    var barColor = "<%= @bar_color %>";
    (function($) {
      $(function() {
        $("#dataset input.data").change(function() {      $.chart('#dataset', 'chart');      });
        $.chart('#dataset', 'chart');
        $.prevent();
      });
    })(jQuery);
  </script>

  <%= javascript_include_tag 'jscharts', 'charteditor' %>

<% end %>

<% form_tag({:action => 'update'}, :id => 'dataset', :method => 'PUT') do %>
  <div id="chart_panel">
    <div id="chart">
      Generando gráfico...
    </div>
    <div class="chartfields">
      <% @invoice.months do |consumo, index| %>
        <% fields_for("consumption[]", consumo) do |f| %>
          <%= f.text_field  :ammount , :class => 'data', :id => consumo.label %>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :period %>
        <% end %>
      <% end %>
    </div>
  </div>

  <p class="save">
    <%= submit_tag t(:submit) %> Pulse "Guardar" cuando acabe de introducir los datos
  </p>
<% end %>

