
<% content_for :header do %>
  <script type="text/javascript">
    var barColor = "<%= @bar_color %>";
    (function($) {
      $(function() {
        var vals = []
        $("#dataset .data").each(function() {
          vals.push(parseInt($(this).val()));
        });

        $("#chart").ichart({data : {values: vals}});
      });
    })(jQuery);
  </script>

  <%= javascript_include_tag 'jquery.ichart' %>

<% end %>

<div id="chart_panel">
  <div id="chart">
    Generando gráfico...
  </div>
</div>
<% form_tag({:action => 'update'}, :id => 'dataset', :method => 'PUT') do %>
  <% @invoice.months do |consumo, index| %>
    <% fields_for("consumption[]", consumo) do |f| %>
      <%= f.text_field  :ammount , :id => consumo.label, :class => 'data' %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :period %>
    <% end %>
  <% end %>
  <p class="save">
    <%= submit_tag t(:submit) %> Pulse "Guardar" cuando acabe de introducir los datos
  </p>
<% end %>

