
<% content_for :header do %>
  <!-- CANVAS PARA IE -->
  <!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.trunk.js"></script><![endif]-->


  <script type="text/javascript">
    (function($) {
      $(function() {
        var barColor = $("#bar").css("background-color");
        var vals = [];
        var labels = [];
        $("#dataset .data").each(function() {
          vals.push(parseInt($(this).val()));
          labels.push($(this).attr("id"));
        });

        $("#chart").ichart({bars: {color: barColor}, 
          xaxis: {label: 'consumo mensual (en <%= @invoice.units %>)'},
          yaxis: {zero: "N/D"},
          data : {values: vals, names: labels}});
        $("#chart").bind("ichart.changed", function(evt, name, value) {
          value = (value == null) ? "" : value;
          $("#" + name).val(value);
        })

        $("#max_up").click(function() {$("#chart").trigger("ichart.max_up")});
        $("#max_down").click(function() {$("#chart").trigger("ichart.max_down")});

        $("#navigation a").click(function(evt) {
          $("#next_url").val($(this).attr("href"));
          $("#dataset").submit();
          return false;
        });

        $("#dataset").bind("submit", function() {
          $(this).find("input[type=submit]").val("Guardando...").attr("disabled", true);
          $.jGrowl("Guardando los datos. Espere un momento, por favor.", {closer:false});
        });
        
      });

    })(jQuery);
  </script>
<% end %>


<p class="about">Para ello coja la última factura que tenga a su disposición e intente representar el mismo dibujo
  que aparece en la misma.</p>
<p class="about">Pinchando sobre el gráfico puede cambiar el valor del consumo según el mes. De aquellos meses
  que no disponga datos (N/D), déjelo en blanco (puede poner en blanco un mes pulsando sobre el nombre del mismo).</p>

<div id="chart_panel">
  <div class="chart_controls">
    <a id="max_up" href="#" onclick="return false;">+</a>
    <a id="max_down" href="#" onclick="return false;">-</a>
  </div>
  <div id="chart">
    Generando gráfico...
  </div>
</div>
<% form_tag({:action => 'update'}, {:id => 'dataset', :method => 'PUT'}) do %>
  <div>
  <%= hidden_field_tag :next_url, '' %>
  <% @invoice.months do |consumo, index| %>
    <% fields_for("consumption[]", consumo) do |f| %>
      <%= f.hidden_field  :ammount , :id => consumo.label, :class => 'data' %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :period %>
    <% end %>
  <% end %>
</div>
  <p>
    <%= submit_tag t(:submit) %>
    <a name="guardar"></a>
  </p>
<% end %>

