
<% content_for :header do %>
  <!-- CANVAS PARA IE -->
  <!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.trunk.js"></script><![endif]-->
  <script type="text/javascript" src="/javascripts/canvas.text.js"></script>

  <script type="text/javascript">
    (function($) {
      $(function() {
        var isDirty = false;
        $("form input[type=submit]").attr('disabled', false).hide();

        var barColor = $("#colors").css("background-color");
        var darkColor = $("#colors").css("color");
        $("#learn h2").css("color", darkColor);
        var vals = [];
        var labels = [];
        $("#dataset .data").each(function() {
          vals.push(parseInt($(this).val()));
          labels.push($(this).attr("id"));
        });

        var maxValue = parseInt($("#scale_max_value").val());
        if (isNaN(maxValue)) maxValue = 1000;


        $("#chart").ichart({bars: {color: barColor, darkColor : darkColor},
          xaxis: {label: 'mes en el que se produce el consumo'},
          yaxis: {zero: "N/D", label: 'consumo mensual (en <%= @invoice.units %>)',
            max: maxValue},
          data : {values: vals, names: labels}});
        $("#chart").bind("ichart.changed", function(evt, name, value) {
          if (!isDirty) {
            isDirty = true;
            $("form input[type=submit]").fadeIn();
          }
          
          value = (value == null) ? "" : value;
          $("#" + name).val(value);
        });
        
        $("#chart").bind("ichart.scaleChanged", function(evt, maxValue) {
          $("#scale_max_value").val(maxValue);
          if (!isDirty) {
            isDirty = true;
            $("form input[type=submit]").fadeIn();
          }
        });

        $("#max_up").click(function() {$("#chart").trigger("ichart.max_up")});
        $("#max_down").click(function() {$("#chart").trigger("ichart.max_down")});

        $("#navigation a").click(function(evt) {
          if (isDirty) {
            $("#next_url").val($(this).attr("href"));
            $("#dataset").submit();
            return false;
          }
        });

        $("#dataset").bind("submit", function() {
          $(this).find("input[type=submit]").val("Guardando...").attr("disabled", true);
          $.jGrowl("Guardando los datos. Espere un momento, por favor.", {closer:false});
        });

      });

    })(jQuery);
  </script>
<% end %>


<p class="about">Para ello coja la última factura que tenga a su disposición e intente representar el mismo dibujo
  que aparece en la misma.</p>
<p class="about">Pinchando sobre el gráfico puede cambiar el valor del consumo según el mes. De aquellos meses
  que no disponga datos (N/D), déjelo en blanco (puede poner en blanco un mes pulsando sobre el nombre del mismo).</p>

<div id="invoice" class="<%= controller.class.name  %>">
  <div id="colors">&nbsp;</div>
<div id="chart_panel">
  <div class="chart_controls">
    <a id="max_up" class="button" href="#" onclick="return false;">+</a>
    <a id="max_down" class="button" href="#" onclick="return false;">-</a>
  </div>
  <div id="chart">
    Generando gráfico...
  </div>
</div>
<% form_tag({:action => 'update'}, {:id => 'dataset', :method => 'PUT'}) do %>
  <div>
    <%= hidden_field_tag :next_url, '' %>
    <% @invoice.months do |consumo, index| %>
      <% fields_for("consumption[]", consumo) do |f| %>
        <%= f.hidden_field  :ammount , :id => consumo.label, :class => 'data' %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :period %>
      <% end %>
    <% end %>
    <%= hidden_field_tag :scale_max_value,  current_user.invoice_scale_max, :id => 'scale_max_value' %>
  </div>
  <p>
    <%= submit_tag '', :class => 'invoice_submit' %>
    <a name="guardar"></a>
  </p>
<% end %>
</div>
<br/><br/>
<div class="block">
  <div id="video" class="col2">
    <object width="400" height="260"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=8816220&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=8816220&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="260"></embed></object>
  </div>
  <div id="learn" class="col2">
    <h2>Cómo introducir los datos de la factura</h2>
    <p class="about">En este vídeo puede ver cómo se rellena la encuesta de E3E. COMPLETAR TEXTO</p>
  </div>
</div>