

<%= title t(:title) %>
<br/>
<br/>

<div class="container">
  <% @invoices.each do |invoice| %>
    <div class="invoice <%= invoice.service %>">
      <h2><%= t(invoice.service) %></h2>
      <%= image_tag invoice.chart %>
      <%= link_to t("edit_#{invoice.service}"), edit_invoice_path(:service => invoice.service) %>

    </div>
  <% end %>
</div>
