
<div class="dialog">
  <%= title t(:title), :tag => :h2 %>
  <% form_for @admin_session do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label t(:email) %>
      <%= f.text_field :email%>
    </p>
    <p>
      <%= f.label t(:password) %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label ' ' %>
      <%= f.submit t(:submit), :disable_with => t(:disable_with) %>
    </p>
  <% end %>
</div>