
<% form_for @user do |f| %>
  <h2><%=  t(:title) if @user.new_record? %></h2>
  <%= f.error_messages %>
  <p class="info"><%= t('info.username') %></p>
  <p>
    <%= f.label :username, t(:username) %>
    <%= f.text_field :username, :class => '_not_empty length_more_than_4' %>
  </p>
  <p class="info"><%= t(@user.new_record? ? 'info.newpass' : 'info.editpass') %></p>
  <% validation = @user.new_record? ? '_not_empty length_more_than_4'  : '_length_more_than_4'  %>
  <p>
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password, :class => validation %>
  </p>
  <p>
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <%= f.password_field :password_confirmation, :class => validation  %>
  </p>
  <p class="info"><%= t('info.qa') %></p>
  <p>
    <%= f.label :question, t(:question) %>
    <%= f.text_field :question, :class => '_not_empty length_more_than_4' %>
  </p>
  <p>
    <%= f.label :answer, t(:answer) %>
    <%= f.text_field :answer, :class => '_not_empty length_more_than_4' %>
  </p>
  <p>
    <%= f.submit submit_label_for(@user) %>
  </p>
<% end %>


<script type="text/javascript">
  $('form').validate('<%= t(:disable_with) %>');
</script>