
<%= title t(:title) %>

<div>
  En la actualidad hay registrados <%= @users.size %> usuarios/as.
</div>

<table class="users">
  <thead>
    <tr>
      <td><%= t(:username) %></td>
      <td><%= t(:created_at) %></td>
      <td><%= t(:updated_at) %></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= user.username %></td>
        <td><%= user.created_at.fecha %></td>
        <td><%= user.updated_at.fecha %></td>
        <td><%= link_to t(:show_survey), user_survey_path(user) %> |
        <%= link_to t(:show_xml), user_survey_path(user, :format => :xml) %>
      </tr>
    <% end %>
  </tbody>
</table>
