<div class="remind">
<% title t(:title) %>


<% form_for @password_reminder do |f| %>
  <h2><%= t(:title) %></h2>
  <p>
    <%= f.label t(:username) %>
    <span class="fake_field"><%= @password_reminder.username %></span>
  </p>
    <p>
    <%= f.label t(:password) %>
    <span class="fake_field"><%= @password_reminder.password %></span>
  </p>

<% end %>

</div>