<div class="remind">
<% title t(:title) %>


<% form_for @password_reminder do |f| %>
  <h2><%= t(:title) %></h2>
  <p class="info"><%= t(:info) %></p>
  <p>
    <%= f.label t(:username) %>
    <%= f.hidden_field :username %>
    <span class="fake_field"><%= @password_reminder.username %></span>
  </p>
  <p>
    <%= f.label t(:question) %>
    <span class="fake_field"><%= @password_reminder.question %></span>
  </p>
  <p>
    <%= f.label t(:answer) %>
    <%= f.text_field :answer, :class => 'not_empty length_more_than_4' %>
  </p>
  <p>
    <%= f.submit submit_label_for(@password_reminder) %>
  </p>
<% end %>

</div>