<% content_for :header do %>
  <%= javascript_include_tag 'activeforms' %>

  <script type="text/javascript">
    jQuery(function($) {
      var spinner = $('#municipio_spinner');
      spinner.hide();

      $('#survey_provincia_id').change(function() {
        spinner.show();
        var provinciaId = $(this).val();
        $.getJSON('/provincias/' + provinciaId, function(data) {
          var list = $('#survey_municipio_id');
          list.empty();
          $.each(data, function(index) {
            var m = data[index];
            list.append('<' + 'option value="' + m.id + '">' + m.name +  '</' + 'option>');
          });
          spinner.hide();
        });
      });

      $("#javascript").hide();
      $("#encuesta").show();
      $.applyRules();

      $("#navigation a").click(function() {
        $("#next_url").val($(this).attr("href"));
        $("form.edit_survey").submit();
        return false;
      });

      $(".numeric").each(function() {
        var self = $(this);
        if (self.val().trim() == '') {
          self.val("0");
        }
        self.focus(function() {
          if (self.val().trim() == '0') {
            self.val('')
          }
        });
        self.blur(function() {
          if (self.val().trim() == '') {
            self.val("0");
          }
        });
      });

      $("form.edit_survey").bind("submit", function() {
        $.jGrowl("Guardando los datos. Espere un momento, por favor.", {closer:false});
      });

    });
  </script>
<% end %>


<h1><%=  t(:title) %></h1>
<p class="about">Los datos de esta encuesta nos permitirán saber las características energéticas
  de su vivienda y sus hábitos de consumo.</p>
<p class="about">Le rogamos nos conteste a estos datos aunque sea de forma aproximada.</p>


<div id="javascript">
  Debes tener javascript para poder ver el formulario.
</div>

<div id="encuesta">
  <% form_for(@survey, :url => survey_path) do |f| %>
    <div>
      <%= hidden_field_tag :next_url, '' %>
    </div>
    <%= f.error_messages %>

    <h3><span id="survey-num-1" class="number">1</span><%=  t(:titulo, :scope => [:encuesta, :ciudad]) %></h3>
    <p class="info"><%=  t(:localidad, :scope => [:encuesta, :ciudad]) %></p>
    <p>
      <label>&nbsp;</label>
      <%= select :survey, :provincia_id, @provincias_select  %>
    </p>
    <p>
      <label>&nbsp;</label>
      <%= select :survey, :municipio_id, @municipios_select %>
      <%= image_tag 'spinner.gif', :class => 'spinner', :id => 'municipio_spinner' %>
    </p>


    <%= render :partial => 'edit_edificio_vivienda', :locals => {:f => f} %>
    <%= render :partial => 'edit_edificio_equipamiento', :locals => {:f => f} %>


    <h3>Mis costumbres</h3>
    <p class="info"><%=  t(:personas, :scope => [:encuesta, :costumbres]) %></p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_personas, :class => 'numeric'  %></p>

    <p class="info"><%=  t(:horas, :scope => [:encuesta, :costumbres]) %></p>
    <p><label>&nbsp;</label><%= f.text_field :costumbres_horas, :class => 'numeric'  %></p>

    <h3><span id="survey-num-5" class="number">5</span>Mi opinión</h3>
    <p class="info"><%=  t(:opina, :scope => [:encuesta, :opinion]) %></p>
    <p><label>&nbsp;</label><%= f.text_area :opinion %></p>
    <p>
      <%= f.submit '', :id => 'survey-submit' %>
      <a name="guardar"></a>
    </p>
  <% end %>
</div>


