<% title t(:title) %>

<div class="dialog">
  <h2><%= t(:title) %></h2>
  <% form_for @user_session do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label t(:username) %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label t(:password) %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label ' ' %>
      <%= f.submit t(:submit), :disable_with => t(:disable_with) %>
    </p>
  <% end %>
  <ul>
    <li>
      <%= link_to t(:sign_up), new_user_path %>
    </li>
    <li>
      <%= link_to t(:forgot_password), password_reminders_path %>
    </li>
  </ul>
</div>

