<% title t(:new_user_session) %>

<div class="dialog">
  <h2><%= t(:login) %></h2>
  <% form_for @user_session do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label t(:username) %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label t(:password) %>
      <%= f.text_field :password %>
    </p>
    <p>
      <%= f.label ' ' %>
      <%= f.submit t(:login) %>
    </p>
  <% end %>
  <ul>
    <li>
      <%= link_to t(:sign_up), new_user_path %>
    </li>
    <li>
      <%# = link_to t(:forgot_password), new_password_path %>
    </li>
  </ul>
</div>

