<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>E3E Administración - <%= yield(:title) || ''%></title>
    <!-- link rel="icon" href="images/e3e.ico" type="image/x-icon" / -->
    <%= stylesheet_link_tag 'admin.css' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%= yield :header %>
  </head>
  <body>
    <div class="wrapper">
      <div class="page"><%= yield %></div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <div class="bottom">
        E3E v0.0929 -
        <%= link_to 'Software hecho a mano por &nbsp;<span class="calc">calc</span>', 'http://calclab.com' %>
      </div>
    </div>
  </body>
</html>
