<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>E3E - <%= yield(:title) || 'Prototipo' %></title>
    <!-- link rel="icon" href="images/e3e.ico" type="image/x-icon" / -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" />
    <%= stylesheet_link_tag 'wecex.css' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%= javascript_include_tag 'jquery.validator.js'  %>
    <%= yield :header %>
  </head>
  <body>
    <div class="top <%= @controller.class %>" ></div>
    <div id="page">
      <div id="head">
        <div id="logo">
              <h1><%= link_to 'E3E', root_path %></h1>
          <p>Mejorar el consumo energético</p>
        </div>

        <div id="navigation">
          <div class="sections">
            <% if signed_in? %>
              <%= section t(:survey), survey_path, :SurveysController %>
              <%= section t(:gas), gas_path %>
              <%= section t(:elec), electricidad_path %>
              <%= section t(:report), report_path, :ReportsController, :class => 'report' %>
            <% else -%>
              <%= section t(:what), what_path %>
              <%= section t(:who), who_path %>
              <%= section t(:mission), mission_path %>
            <% end %>
          </div>
        </div>
        <div class="session">
          <% if signed_in? %>
            Hola <%= current_user.username %>
            <%= link_to t(:user_session_close), logout_path, :method => 'delete' %>
          <% else -%>
            <%= link_to 'Entrar', new_user_sessions_path %>
            <%= link_to 'Darse de alta', new_user_path %>
          <% end -%>
          <% if current_admin %>
            <%= link_to t(:admin_zone), current_admin %>
          <% end %>
        </div>

      </div>
      <% if flash[:notice] %>
        <div class="flash_notice"><%= flash[:notice] %></div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
      <div class="bottom">
        <%= link_to t(:what), what_path %> |
        <%= link_to t(:who), who_path %> |
        <%= link_to t(:mission), mission_path %> |
      </div>
    </div>
  </body>
</html>
