<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>E3E - <%= yield(:title) || 'E3E' %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <link rel="icon" href="/images/favicon-e3e-letter.ico" type="image/x-icon" />
    <%= stylesheet_link_tag 'public', 'jquery.jgrowl.css' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <%= javascript_include_tag 'jquery.ichart', 'jquery.jgrowl.min' %>
    <%= javascript_include_tag 'jquery.validator.js'  %>
    <script type="text/javascript">
      jQuery(function($) {
        $(".flash").each(function() {$.jGrowl($(this).html(), {closer:false});})
        $("form").submit(function() {
          $("input[type=submit]").attr("disabled", true);
          $(this).find("input[type=submit]").fadeOut();
        });
      });
    </script>
    <%= yield :header %>
  </head>
  <body>
    <div class="wrapper">
      <div class="ie6sucks">
        <div id="top" class="container">
          <!--
          <div id="logo" >e3e</div>
          -->
          <div id="navigation">
            <div class="session">
              <% if signed_in? %>
                <span id="welcome" style="">Usuario: '<%= current_user.username %>' &nbsp;&nbsp;&nbsp;> </span>
                <%= link_to t('users.profile'), edit_user_path(current_user), :id => 'profile' %>
                <%= link_to t(:user_session_close), logout_path, :method => 'delete', :id => 'logout' %>
              <% else %>
                <%= link_to t('Entrar'), login_path, :id => 'enter' %>
              <% end -%>
            </div>

            <div class="sections">
              <%= section t(:about), root_path, :AboutController %>
              <%= section t(:survey), survey_path, :SurveysController %>
              <%= section t(:gas), gas_path, :GasController %>
              <%= section t(:elec), electricidad_path, :ElectricidadController %>
              <%= section t(:report), report_path, :ReportsController %>
            </div>
          </div>
        </div> <!-- top -->
      </div>

      <div class="ie6sucks">
        <div id="page" class="container">
          <% if flash[:notice] %>
            <div class="flash" style="display:none"><%= flash[:notice] %></div>
          <% end %>
          <div class="content">
            <%= yield %>

            <div id="partners" class="block">
              <%= link_to image_tag('partners/ministerio de vivienda.jpg'), 'http://www.mviv.es/'  %>
              <%= link_to image_tag('partners/csic.gif'), 'http://www.csic.es/'  %>
              <%= link_to image_tag('partners/torroja.png'), 'http://www.ietcc.csic.es/'  %>
              <%= link_to image_tag('partners/aicia2.jpg'), 'http://www.aicia.es/'  %>
              <div id="copyright">
                <p>&copy; IETcc.csic y aicia 2010.</p>
                <p>Software desarrollado por <a href="http://calclab.com" class="calc">calc</a><p/>
              </div>
            </div>
            <div id="feedback" class="block">
              <%= link_to t(:feedback), feedback_path %>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>



      <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Cierra este aviso'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='¡Aviso!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>Usted está usando un navegador obsoleto.</div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>Para navegar mejor por este sitio, por favor, actualice su navegador.</div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://www.mozilla-europe.org/es/firefox/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.microsoft.com/downloads/details.aspx?FamilyID=341c2ad5-8c3d-4347-8c03-08cdecd8852b&DisplayLang=es' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/es/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome?hl=es' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-1584724-5");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
